@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">This is a demo for Jenkins</h3>
</div>

<div>
    <p style="color:forestgreen; background-color:lightyellow; font-size:large; text-align:center;">@ViewBag.Greetings</p>
</div>